@page
@model Ganaderia.App.Presentacion.Pages.RegisterModel
@{
}

<div class="row">
    <div class="col-6">
        <img src="~/assets/images/min-tic.webp" class="img-fluid" alt="Responsive image">
    </div>

    <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Correo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ganadero in Model.Ganaderos)
        {
            <tr>
                <td>@ganadero.Nombre</td>
                <td>@ganadero.Apellido</td>
                <td>@ganadero.Correo</td>
            </tr>
        }
    </tbody>
</table>


    <form method="post" class="col-6">
        
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Nombre</label>
                <input type="text" class="form-control" id="inputNombre4" placeholder="Nombre" name="Nombre">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Apellido</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Apellido" name="Apellido">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Numero de telefono</label>
                <input type="text" class="form-control" id="inputNumerotelefono4" placeholder="Numerotelefono" name="NumeroTelefono">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Correo</label>
                <input type="email" class="form-control" id="inputPassword4" placeholder="Correo" name="Correo">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Contraseña</label>
                <input type="password" class="form-control" id="inputNombre4" placeholder="Nombre" name="Contrasena">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Repetir contraseña</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Contraseña">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Latitud</label>
                <input type="number" class="form-control" id="inputNombre4" placeholder="Latitud" name="Latitud">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Longitud</label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="Contraseña" name="Longitud">
            </div>
        </div>
        @* <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div> *@
        <button type="submit" class="btn btn-primary" asp-page-handler="Add">Registrarse</button>
    </form>
</div>